display_url: https://nuxt-starter-netlify-cms.netlify.app
site_url: https://nuxt-starter-netlify-cms.netlify.app
logo_url: https://nuxt-starter-netlify-cms.netlify.app/icon.png

publish_mode: editorial_workflow
backend:
  name: git-gateway
  branch: main
  commit_messages:
    create: 'chore({{collection}}): create “{{slug}}”'
    update: 'chore({{collection}}): update “{{slug}}”'
    delete: 'chore({{collection}}): delete “{{slug}}”'
    uploadMedia: 'chore(media): [skip ci] upload “{{path}}”'
    deleteMedia: 'chore(media): [skip ci] delete “{{path}}”'

media_folder: static/img
public_folder: /img

# Docs: https://www.netlifycms.org/docs/configuration-options/#collections
collections:
  - name: 'blog'
    label: 'Blog'
    folder: 'content/blog'
    create: true
    format: frontmatter
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    preview_path: '{{dirname}}/{{slug}}'
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - label: 'Site settings'
    name: 'site'
    files:
      - label: 'Info'
        name: 'info'
        file: 'content/site/info.json'
        format: json
        editor:
          preview: false
        fields:
          - { label: Site Name, name: sitename, widget: string, hint: 'This is used for the site title' }
          - {
              label: Site Description,
              name: sitedescription,
              widget: string,
              hint: 'This is used as descriptive text for links that link to this site',
            }
          - {
              label: Site Language,
              name: sitelang,
              widget: string,
              pattern: ['^[a-z]{2}([-])?([A-Za-z]{2})?$', 'Must match "xx" or "xx-XX" syntax (ex. "en" or "sv-SE")'],
            }
